__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
venv/
env/

/.idea/
*.iml
.venv/
model/*
data/simulation/dataset/*
data/simulation/output/
data/simulation/evaluation/
data/simulation/vector_db/
/notebooks/lib
